.chat-side
  .side-header
    .side-header_box
      .side-header_box_user-name
        kanta
      .side-header_box_menu
        .side-header_box_menu_new-group
          = link_to "#" do
            %i.fa.fa-edit
        .side-header_box_menu_edit-user
          = link_to "#" do
            %i.fa.fa-cog
  .groups
    .group
      .group_group-name
        アソパソマソ
      .group_latest-message
        まだメッセージがありません