.flash-box {
  background-color: #38aef0;
  text-align: center;
  color: #ffffff;
}
.wrapper{
  margin: 0;
  padding: 0;
  display: flex;
  .chat-side{
    background-color:#2f3e51;
    height: 100%;
    width: 300px;
    position: absolute;
    color:white;
    a:visited { color:#ffffff; text-decoration: none;}
      .side-header{
        height: 100px;
        display:flex;
        align-items: center;
        padding: 0 20px;
        background-color: #253141;
        .side-header_box{
          display:flex;
          justify-content: space-between;          
          font-weight: bold;
          width: 100%;
          position: relative;
          margin: 0 auto;
          .side-header_box_user-name{
            
          }
          .side-header_box_menu{
              display: flex;
              position: relative;
              right: 0px;
              color:#ffffff;
              font-size:16px;
            .side-header_box_new-group{
              margin-left: 0.3rem;
             
            }
            .side-header_box_menu_edit-user{
              margin-left: 0.3rem;
            }
          }
        }
      }
      .groups{
        height: calc(100vh - 100px);
        background-color: #2f3e51;
        padding: 20px 20px 0;
        overflow: scroll;
        .group{
            margin-bottom:40px;    
          .group_group-name{
            font-size: 15px;
            margin-bottom: 5px;
            color:#ffffff;
          }
          .group_latest-message{
            font-size: 11px;    
          }
        }
      }
  }
  .chat-main{
    width: calc(100vw - 300px);
    position: absolute;
    right: 0;
    color:#000;
     .main-header{
       height: 100px;
       padding: 0 40px;
       display: flex;
       justify-content: space-between;
       border-bottom: solid 1px #eee;
       overflow: scroll;
        .main-header_left-box{
          margin-top: 35px;
          .main-header_left-box_current-group{
            display: flex;
            font-size: 20px;
            margin-bottom: 15px;
          }
          .main-header_left-box_menber-list{
            font-size: 12px;
            display: flex;
            color:#999999;
            ;
          }
        }
        
            
        .main-heder_edit-btn{
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            margin-top: 30px;
            border: solid 1px #38aef0;
            position: absolute;
            right:40px;
            color:#38aef0;
              .edit{
                color:#38aef0;
                list-style: none;
              }
          }
        }
     }
     .messages{
       height:calc(100vh - 263px);
       padding: 46px 40px;
       background-color: #fafafa;
       overflow: auto;
      .message_group{
        height: 24px;
        width: 307px;
        display: flex;}
        .message{
          padding-bottom: 40px;
          .message_upper-info{
            display: flex;
            margin-bottom: 10px; 
        }
          .message_upper-info_data{
            color:#999999;
            font-size: 12px;
            margin-left: 10px;
          } 
          .message_text{
            color:#434a54;
            font-size:14px;
            margin-bottom: 10px;
        }
      }
      
      }
     .form{
       height:50px;
       padding: 20px 40px;
       background-color: #ddd;
       
       .new_message{
         display: flex;
         position: relative;
         .form__message{
           height: 50px;
           display: flex;
           justify-content: space-between;
           width:  945px;
           position: relative;
           margin-right: 25px;
           
           
            .form__mask{
              width: 100%;
            }
          }
            
       .form__submit{
          background-color:#38aef0;
          height: 50px;
          width: 100px;
          color:#ffffff;
          font-size: 20px;
           }
         }
        }
       }
  .hidden {
    display: none;
  }

  .fa-image {
    position: absolute;
    right: 140px;
    bottom:12px;
    font-size:30px;
    z-index: 5;
  }